<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CoreTwoZeroJS</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">


        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <!--This is just a shortcut to the Home Index-->
                <!--<a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">CoreTwoZeroJS</a>-->
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                    <!--Menu finally done-->
                    <!--<li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>-->

                    <!--I want the jQuery first, because the Angular part is not all finish-->
                    <li><a asp-area="" asp-controller="Persons" asp-action="Index">Show persons API / jQuery</a></li>

                    <li><a asp-area="" asp-controller="AngularAPI" asp-action="Index">Show persons API / Angular</a></li>
                    <li><a asp-area="" asp-controller="AdminPersons" asp-action="Index">Manage persons API / jQuery</a>

                        <!--Fix the menu to more a logical structure-->
                        <!--They should be at the end of the meny-->
                    <li><a asp-area="" asp-controller="Home" asp-action="About">About this application</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">About ASP.NET Core</a></li>

                    <!--This is a links to an API where jQuery are used to manage if persons are Editable or not-->
                    <!--<li><a asp-area="" asp-controller="SuperAdminPersons" asp-action="Index">Administrate persons</a>-->
                    <!--This is a link to a MVC SPA Application using Model, View and Controllers to show and manage persons - I use for testing only-->
                    <!--<li><a asp-area="" asp-controller="PersonTableCoreTwoJS" asp-action="Index">Show and manage persons</a></li>-->

                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2018 - CoreTwoZeroJS</p>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>

    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
