
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br /><br />





<h3>ReactJS GET persons API</h3>


<!--React JSX Component are displaying here-->
<div id="rootloadreact"></div>

<!--Here goes the API data-->
<div id="rootapi"></div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.4.2/react.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.4.2/react-dom.js"></script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.21.1/babel.min.js"></script>

<!--The content of the React JSX Components are loading here-->
<!--NOTE: The path: js/react/hellowworldreact.jsx are located under: wwwroot/js-->
<script type="text/babel" src="js/react/hellowworldreact.jsx" data-presets="es2015,react">
</script>

<script type="text/babel" src="js/react/getpersonsreact.jsx" data-presets="es2015,react">
</script>
