


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>



<div ng-app="myApp" ng-controller="myController">

    <br />
    <br />
    Angular testing: 2 + 3 = {{2+3}}
    <br />
    <br />
    Consuming a Web Api by Angular 1.0
    <br />
    <br />

    <table width="250">

        <tr><td>Id</td><td>Name</td><td>Last Name</td><td>Age</td></tr>

        <tr ng-repeat="person in persons">
            <td> {{ person.id }}</td>
            <td> {{ person.firstName }}</td>
            <td> {{ person.lastName }}</td>
            <td> {{ person.age }}</td>

            <!--Added to show the new DB column "profession"-->
            <td> {{ person.profession }}</td>
        </tr>
    </table>

</div>

<script>
    var app = angular.module('myApp', []);
    app.controller('myController', function ($scope, $http) {
               
        $http.get("api/PersonTableCoreTwoJSApi")
            .then(function (response) { $scope.persons = response.data });
    });
</script>





