
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>An Angular 6 demo made by CLI</h2>


<title>MyApp</title>


<base href="/angularclibundle/">


<link rel="icon" type="image/x-icon" href="favicon_angular.ico">
<link rel="stylesheet" href="styles.34c57ab7888ec1573f9c.css">



<app-root></app-root>
<script type="text/javascript" src="runtime.a66f828dca56eeb90e02.js"></script>
<script type="text/javascript" src="polyfills.2f4a59095805af02bd79.js"></script>
<script type="text/javascript" src="main.bd254dd4ca6e1cee4830.js"></script>



