@{
    ViewData["Title"] = "About this Application";
}
<h3>@ViewData["Title"]</h3><br />



<p>This application is an ASP.NET Core 2.0 application, tested in Google Crome.</p>

<p>The GitHub Repo: https://github.com/persteenolsen/CoreTwoZeroJS </p>

<p>
    In Visual Studio the .NET Core framework was selected, then I Selected Core Web Application to get a
    template with views and finally a Web Application as the template and not just the Web API Template because
    it dont have the views as default among other things.

    <br /><br /> Then I did add the Web API backend and put jQuery in a view as an internal consuming Web API client.
</p>
