@{
    ViewData["Title"] = "About this Application";
}
<h3>@ViewData["Title"]</h3><br />



<p>This application is an ASP.NET Core 2.0 application</p>

<p>Last updated: 19-01-2023</p>

<!--Making a link to my GitHub Repo-->
<p>You can find my GitHub Repo <a href="https://github.com/persteenolsen/CoreTwoZeroJS" target="_blank">here...</a> </p>

<p>
    The consuming part of the Web API are done by Angular, React and jQuery in a view as an internal Web API client.
</p>
